body {
    background-color: rgb(214, 214, 198);
}

.conte {
    height: 600px;
}

.conte input {
    height: 50px;
}

main {
    max-width: 500px;
}


@media (min-width:767px) {
    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

}

@media (max-width:567px) {
    main {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
    }
}


.buttons button {
    height: 75px;
    background-color: rgb(207, 150, 44);
    color: white;
    font-size: 23px;
    border-radius: 4px;
}

.buttons button:hover {
    background-color: rgba(207, 150, 44, 0.76);
}